.review {
    position: relative;
    padding: 85px 0 120px;
    background: linear-gradient(180deg, #39435E 0%, #222B41 100%);

    @media (max-width: 768px) {
        padding: 60px 0 70px;
    }

    @media (max-width: 685px) {
        padding: 40px 0 55px;
    }

    &_girl {
        background: url('../img/block-accent.png') no-repeat center center,
            linear-gradient(180deg, #32394A 0%, #151924 100%);
        background-size: auto 130%;

        @media (max-width: 768px) {
            background-size: contain;
        }

        @media (max-width: 685px) {
            background-size: 130% auto;
        }
    }

    &__title {
        margin-bottom: 150px;
        font-weight: 900;
        font-size: 72px;

        @media (max-width: 768px) {
            margin-bottom: 40px;
            font-size: 64px;
            text-align: center;
        }

        @media (max-width: 685px) {
            font-size: 32px;
        }
    }

    &__item {
        display: flex;
        width: 815px;
        max-width: 70%;
        margin: 0 auto;

        @media (max-width: 970px) {
            display: block;
        }

        @media (max-width: 685px) {
            width: auto;
            max-width: unset;
        }
    }

    &__photo {
        max-width: 160px;
        width: 53%;
        margin-right: 50px;

        @media (max-width: 970px) {
            max-width: unset;
            width: auto;
            margin-right: 0;
        }

        img {
            border: 5px solid #949BEF;
            border-radius: 50%;
            display: block;
            margin: 0 auto 20px;
        }
    }

    &__cite {
        display: block;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 32px;

        @media (max-width: 970px) {
            margin-bottom: 20px;
            text-align: center;
        }
    }

    &__comment {
        font-size: 24px;
        line-height: 32px;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
}
